* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-LightBETA";
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/Inter-LightBETA.woff);
}

@font-face {
    font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Inter-Regular.woff);
}

@font-face {
    font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  src:url(../fonts/Inter-SemiBold.woff);
}

@font-face {
    font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Inter-Bold.woff);
}

@font-face {
    font-family: "Inter-Black";
  font-style: normal;
  font-weight: 900;
  src:url(../fonts/Inter-Black.woff);
}

:root {
    --backgroud-color: pink;
    --img-color: gray;
    --btn-color: #FE253F;
    --padding-in-container:0 30px;
    --yellow-bg: #FEC600;
    --shadow-btn: 0 10px 20px 0 #0000005e;
    --shadow-block: 0 30px 30px 0 #0000006e;
    --width-card: 300px;
    --height-card: 300px;
    --shadow-hero: 0px 10px 30px 5px rgb(0 0 0 / 35%);
}

body {
    background-color: aliceblue;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 50px;
}

.navigation__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-in-container);
    padding: 0;
}

.logo-img {
    padding-left: 30px;
    font-size: 50px;
}
.navigation__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 4;
    height: 75px;
    background-color: #d10b85;
}

.logo-delivery {
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 260px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation-list {
    background-color: var(--yellow-bg);
    list-style: none;
    z-index: 2;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    height: 75px;
    padding: 0;
    flex: 5;
    align-items: center;
}




.navigation-list__item:not(:last-child) {
    margin-right: 25px;
}

.menu:hover .menu-dropdown,
.delivery:hover .delivery-dropdown,
.contacts-nav:hover .contacts-nav-dropdown,
.backet:hover .backet-dropdown  {
    display: block;
}

.menu,
.delivery,
.contacts-nav,
.backet {
    position: relative;
    height: 30px;
}

.menu-dropdown,
.delivery-dropdown,
.contacts-nav-dropdown,
.backet-dropdown {
    position: absolute;
    top: 30px;
    left: -30px;
    list-style: none;
    padding: 0px;
    width: 122px;
    background-color: blanchedalmond;
    line-height: 20px;
    display: none;
    z-index: 1;
}

.menu-dropdown__item,
.delivery-dropdown__item,
.contacts-nav-dropdown__item,
.backet-dropdown__item {
    border: 1px solid coral;
    background-color: darkkhaki;
}

.menu-dropdown__item:hover,
.delivery-dropdown__item:hover,
.contacts-nav-dropdown__item:hover,
.backet-dropdown__item:hover {
    background-color: darkturquoise;
}

.btn-li {
    width: 100%;
}
    
.hero-wrapper {
    background-color: white;
    z-index: 10;
    height: 900px;
}

.hero {
    display: flex;
    height: 800px;
    justify-content: space-between;
    background-color: #d10b85;
    border-radius: 0 0 60px 60px;
    box-shadow: var(--shadow-hero);
    /* Сделать тень через подложенный псевдоэлемент */
}

.wrapper-hero-text {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
}

.hero__text {
    width: 70%;
    height: 550px;
    background-color:  var(--yellow-bg);
    padding: var(--padding-in-container);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow-block);
}

.hero-text__title {
    font-size: 40px;
    margin: 0;
    font-family: 'Inter-Bold';
}

.hero-text__subtitle {
    font-size: 20px;
    font-family: 'Inter-Regular';
}

.hero-text__button {
    background-color: var(--btn-color);
    text-decoration: none;
    width: 180px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-btn);
    font-family: 'Inter-Regular';
}

.wrapper-img-bg {
    flex: 5;
    z-index: 1;
}

.hero__img-background {
    background-color:  var(--yellow-bg);
    display: flex;
    justify-content: flex-end;
    height: 677px;
    align-items: center;
    border-radius: 0 0 0 30px;
    box-shadow: var(--shadow-block);
}

.hero__img {
    width: 100%;
    height: 65%;
    position: relative;
    left: 20%;
    background-image: url(../img/tutburger-png-01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product-wrapper {
    height: 800px;
    background-color: white;
}
.products {
}

.products__title {
    text-align: center;
    margin: 0 0 30px 0;
    padding-top: 100px;
    font-size: 72px;
}

.products__subtitle {
    text-align: center;
    margin: 0;
    margin-bottom: 75px;
    font-size: 40px;
}

.products-list {
}
.products__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    transform: scale(1.093);
}
.products-list__item {
    background-color: var(--img-color);
    width: var(--width-card);
    height: var(--height-card);
    border-radius: 20px;
    box-shadow: var(--shadow-block);
}

.products-list__item--pizza {
    background-image: url(../img/pizza.jpg);
    background-size: cover;
    background-position: center;
    
}

.products-list__item--sushi {
    background-image: url(../img/sushi.jpg);
    background-size: cover;
    background-position: center;
    
}

.products-list__item--poke {
    background-color: #FEC600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imgg {
        background-image: url(../img/poke.png);
        background-size: cover;
        background-position: center;
        height: 80%;
        width: 80%;
}

.container {
}
.info-wrapper {
    height: 400px;
    background-color: var(--backgroud-color);
}
.info {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.info-img__wrapper {
    width: 400px;
    height: 300px;
    background-color: var(--img-color);
    position: relative;
    right: 50px;
    top: 50px;
}

.info__img {
}

.info__text-wrapper {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--padding-in-container);
    
}

.sale-input-wrapper {
    height: 400px;
    background-color: var(--backgroud-color);
}
.sale-input {
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.video-wrapper {
    
}
.sale-input__video-wrapper {
    position: relative;
    left: 50px;
    top: 50px;
}
.input-wrapper {
}
.sale-input__input-wrapper {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding-in-container);
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surname {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-wrapper {
    height: 400px;
    background-color: var(--backgroud-color);
}
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.map__iframe {
    transform: scale(1.17);
}

.contacts-wrapper {
    height: 400px;
    background-color: var(--backgroud-color);
    padding: var(--padding-in-container);
}
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about {
}
.contacts__about {
    grid-template-rows: 1fr 3fr;
    display: grid;
}
.list {
}
.about__list {
}
.about-list {
}
.list__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.about-list__item {
}
.contacts__order {
    grid-template-rows: 1fr 3fr;
    display: grid;
}
.contacts__app {
    grid-template-rows: 1fr 3fr;
    display: grid;
}
.contacts__social {
    grid-template-rows: 1fr 3fr;
    display: grid;
}


1.Закончить объявление шрифтов
2.Разделить блоки и элементы (Позиционирование и оформление)
3.В целом привести к БЭМ стандарту