* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-LightBETA";
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/Inter-LightBETA.woff);
}

@font-face {
    font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Inter-Regular.woff);
}

@font-face {
    font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  src:url(../fonts/Inter-SemiBold.woff);
}

@font-face {
    font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Inter-Bold.woff);
}

@font-face {
    font-family: "Inter-Black";
  font-style: normal;
  font-weight: 900;
  src:url(../fonts/Inter-Black.woff);
}

:root {
    --backgroud-color: pink;
    --img-color: gray;
    --btn-color: #FE253F;
    --padding-in-container:0 30px;
    --yellow-bg: #FEC600;
    --purple-main: deeppink;
    --shadow-btn: 0 10px 20px 0 #0000005e;
    --shadow-block: 0 30px 30px 0 #0000006e;
    --shadow-form: 0px 20px 30px 5px rgb(0 0 0 / 30%);
    --width-card: 300px;
    --height-card: 300px;
    --shadow-hero: 0px 10px 30px 5px rgb(0 0 0 / 35%);
    --light-font: "Inter-LightBETA";
    --regular-font: "Inter-Regular";
    --medium-font: "Inter-Medium";
    --semiBold-font: "Inter-SemiBold";
    --bold-font: "Inter-Bold";
    --black-font: "Inter-Black";


}

body {
    background-color: aliceblue;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 50px;
}

.navigation__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-in-container);
    padding: 0;
}

.logo-img {
    padding-left: 30px;
    font-size: 50px;
    font-family: var(--black-font);
    line-height: 35px;
    position: relative;
    top: 30px;
    
}
.navigation__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 4;
    height: 75px;
    background-color: var(--purple-main);
}

.logo-delivery {
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 260px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation-list {
    background-color: var(--yellow-bg);
    list-style: none;
    z-index: 2;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    height: 75px;
    padding: 0;
    flex: 5;
    align-items: center;
    font-family: var(--light-font);
    font-size: 22px;
}




.navigation-list__item:not(:last-child) {
    margin-right: 25px;
}

.menu:hover .menu-dropdown,
.delivery:hover .delivery-dropdown,
.contacts-nav:hover .contacts-nav-dropdown,
.backet:hover .backet-dropdown  {
    display: block;
}

.menu,
.delivery,
.contacts-nav,
.backet {
    position: relative;
    height: 30px;
}


.menu-dropdown,
.delivery-dropdown,
.contacts-nav-dropdown,
.backet-dropdown {
    position: absolute;
    top: 30px;
    left: -30px;
    list-style: none;
    padding: 0px;
    width: 122px;
    background-color: blanchedalmond;
    line-height: 20px;
    display: none;
    z-index: 1;
}

.menu-dropdown__item,
.delivery-dropdown__item,
.contacts-nav-dropdown__item,
.backet-dropdown__item {
    border: 1px solid coral;
    background-color: darkkhaki;
}

.menu-dropdown__item:hover,
.delivery-dropdown__item:hover,
.contacts-nav-dropdown__item:hover,
.backet-dropdown__item:hover {
    background-color: darkturquoise;
}

.backet__img {
    height: 24px;
}

.btn-li {
    width: 100%;
}
    
.hero-wrapper {
    background-color: white;
    z-index: 10;
    height: 900px;
}

.hero {
    display: flex;
    height: 800px;
    justify-content: space-between;
    background-color: var(--purple-main);
    border-radius: 0 0 60px 60px;
    box-shadow: var(--shadow-hero);
    /* Сделать тень через подложенный псевдоэлемент */
}

.wrapper-hero-text {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
}

.hero__text {
    width: 70%;
    height: 550px;
    background-color:  var(--yellow-bg);
    padding: var(--padding-in-container);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow-block);
}

.hero-text__title {
    font-size: 40px;
    margin: 0;
    font-family: 'Inter-Bold';
}

.hero-text__subtitle {
    font-size: 20px;
    font-family: 'Inter-Regular';
}

.btn {
    background-color: var(--btn-color);
    text-decoration: none;
    width: 180px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-btn);
    font-family: 'Inter-Regular';
}

.btn--submit {
    border: none;
}

.hero-text__button {
    
}

.wrapper-img-bg {
    flex: 5;
    z-index: 1;
}

.hero__img-background {
    background-color:  var(--yellow-bg);
    display: flex;
    justify-content: flex-end;
    height: 677px;
    align-items: center;
    border-radius: 0 0 0 30px;
    box-shadow: var(--shadow-block);
}

.hero__gradient {
    height: 595px;
    width: 600px;
    background: rgb(62,62,62);
    background: radial-gradient(circle, rgba(62,62,62,0.3477766106442577) 0%, rgba(0,0,0,0) 73%, rgba(255,255,255,0) 100%);
}

.hero__img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 20%;
    background-image: url(../img/tutburger-png-01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product-wrapper {
    height: 900px;
    background-color: white;
}
.products {
}

.products__title {
    font-family: var(--bold-font);
    text-align: center;
    margin: 0 0 40px 0;
    padding-top: 100px;
    font-size: 60px;
    color: var(--btn-color);
}

.products__subtitle {
    font-family: var(--light-font);
    text-align: center;
    margin: 0;
    margin-bottom: 100px;
    font-size: 40px;
    color: var(--btn-color);
}

.products-list {
}
.products__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    transform: scale(1.193);
}
.products-list__item {
    background-color: var(--img-color);
    width: var(--width-card);
    height: var(--height-card);
    border-radius: 20px;
    box-shadow: var(--shadow-block);
}

.products-list__item--pizza {
    background-image: url(../img/pizza.jpg);
    background-size: cover;
    background-position: center;
    
}

.products-list__item--sushi {
    background-image: url(../img/sushi.jpg);
    background-size: cover;
    background-position: center;
    
}

.products-list__item--poke {
    background-color: #FEC600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imgg {
        background-image: url(../img/poke.png);
        background-size: cover;
        background-position: center;
        height: 80%;
        width: 80%;
}

.container {
}
.info-wrapper {
    height: 900px;
    background-color: white;
}
.info {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.info-img__wrapper {
    width: 600px;
    height: 550px;
    position: relative;
    background-color: var(--yellow-bg);
    border-radius: 50px;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-hero);
}

.info__text-title {
    font-size: 36px;
    font-family: var(--bold-font);
    color: var(--btn-color);
}

.info__text-subtitle {
    font-size: 28px;
    font-family: var(--regular-font);
    margin-bottom: 60px;
    color: var(--btn-color);
}

.info__img {
    width: 90%;
    height: 90%;
    background-image: url(../img/SeekPng.com_salad-bowl-png_3201888.png);
    background-size: cover;
    right: 10%;
    border-radius: 50px;
}

.info__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 50px;
    align-items: center;
    flex: 2;
    font-size: 20px;
    text-align: center;
    
}

.sale-input-wrapper {
    height: 900px;
    background-color: white;
}
.sale-input {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.video-wrapper {
    
}

.frame {
    border-radius: 30px;
    box-shadow: var(--shadow-block);
}

.sale-input__video-wrapper {
    position: relative;
    left: 10%;
    display: flex;
    align-items: center;
}

.input-wrapper {
    height: 550px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: var(--shadow-form);
}

.sale-input__input-wrapper {
    padding: var(--padding-in-container);
}

.input-wrapper__title {
    font-size: 32px;
    font-family: var(--bold-font);
    text-align: center;
    color: var(--btn-color);
    margin: 0;
}

.input-wrapper__subtitle {
    font-size: 22px;
    font-family: var(--light-font);
    color: var(--btn-color);
    margin-bottom: 50px;
    text-align: center;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-form {
    font-family: var(--regular-font);
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding-left: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surname {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.map-wrapper {
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.map__iframe {
    transform: scale(1.37);
    height: 350px;
    border-radius: 30px;
    box-shadow: var(--shadow-hero);
    border: 0;
    margin: 100px 0 60px 0;
}

.map__title {
    font-size: 48px;
    font-family: var(--bold-font);
    color: var(--btn-color);
}

.map__text {
    font-size: 28px;
    text-align: center;
    font-family: var(--light-font);
    color: var(--btn-color);
}

.contacts-wrapper {
    height: 900px;
    background-color: white;
    padding: var(--padding-in-container);
    padding-bottom: 30px;
    padding-top: 100px;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80%;
    background-color: var(--purple-main);
    border-radius: 30px;
    text-align: center;
}

.contacts__item {
    align-items: center;
}

.contacts__title {
    align-self: flex-end;
    font-family: var(--bold-font);
    font-size: 28px;
    color: white;
}

.about {
}
.contacts__about {
    grid-template-rows: 1fr 3fr;
    display: grid;
}

.list {
    font-size: 26px;
    line-height: 48px;
    font-family: var(--light-font);
    align-self: baseline;
    padding-top: 60px;
}



.about__list {
    
}

.about-list {
    list-style: none;
    padding: 0;
   
}

.list__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.about-list__item {
    color: white;
}
.contacts__order {
    grid-template-rows: 1fr 3fr;
    display: grid;
}
.contacts__app {
    grid-template-rows: 1fr 3fr;
    display: grid;
}
.contacts__social {
    grid-template-rows: 1fr 3fr;
    display: grid;
    height: 100%;
    background-color: var(--yellow-bg);
    border-radius: 30px;
}

.about-list__item--app {
    background-color: black;
    height: 80px;
    width: 90%;
    justify-self: center;
    line-height: 80px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: var(--regular-font);
    font-size: 28px;
    box-shadow:var(--shadow-btn);
}


1.Закончить объявление шрифтов
2.Разделить блоки и элементы (Позиционирование и оформление)
3.В целом привести к БЭМ стандарту
4.Проставить нормальные тени